<body style="background-image:none; background-position:top;background-color:white">
    <div class="newrow">
        <img src="/img/header_icono.png" alt="" class="login_header" style="height: 150px;">
    </div>
    <div class="newrow" style="text-align: center;width:100%">
        <h4>INICIAR SESIÓN COMO ADMINISTRADOR</h4>
        <br>
        <form action="">
            <h5>EMAIL</h5>
            <div class="form-group">
                <input type="text" name="mail" style="width: 30%;text-align:center" placeholder="ejemplo@hotmail.com" autofocus required>
            </div>
            <br>
            <h5>CONTRASEÑA</h5>
            <div class="form-group">
                <input type="password" name="mail" style="width: 30%;text-align:center" placeholder="********" autofocus required>
            </div>
            <div class="form-group">
                <button class="btn btn-success" style="width: 20%; margin-top:20px;">ENTRAR</button>
            </div>
        </form>
    </div>
<br><br>
</body>