<body style="background-image:none; background-position:top;background-color:white">
    <div class="newrow"style="width:30%;margin:auto ">
        <img src="/img/Negro.png" alt="" style="height: 140px;margin:auto;width:100%">
    </div>
    <div class="newrow" style="text-align: center;width:100%">
        <h4>INICIAR SESIÓN COMO ADMINISTRADOR</h4>
        <br>
        <form action="/admin" method="POST">
            <h5>EMAIL</h5>
            <div class="form-group">
                <input type="text" name="mail" style="width: 30%;text-align:center" placeholder="ejemplo@hotmail.com" autofocus required>
            </div>
            <br>
            <h5>CONTRASEÑA</h5>
            <div class="form-group">
                <input type="password" name="pwd" style="width: 30%;text-align:center" placeholder="********" autofocus required>
            </div>
            <div class="form-group">
                <button class="btn btn-success" style="width: 20%; margin-top:20px;">ENTRAR</button>
            </div>
        </form>
    </div>
<br><br>
</body>