<div class="container p-4">
    <div class="row">
        <div class="col-md4-mx-auto">
            <div class="card">
                <div class="tab">
                    <button class="tablinks active" onclick="openPanel(event,'Ingresar')">INGRESAR</button>
                    <button class="tablinks" onclick="openPanel(event,'Registro')">CREAR CUENTA</button>
                </div>
                <div id="Registro" class="tabcontent" style="display: none;">
                    <div class="card-body">
                        <form action="/registro" method="POST">
                        <div class="form-group">
                            <h5>Correo</h5>
                            <input type="text" name="correo" class="textbox" placeholder="Correo" autofocus required>
                        </div>
                        <h5>Usuario</h5>
                        <div class="form-group">
                            <input type="text" name="usuario" class="textbox" placeholder="Nombre de usuario" autofocus required>
                        </div>
                        <h5>Contrase単a</h5>
                        <div class="form-group">
                            <input type="password" name="password" class="textbox" placeholder="Contrase単a" autofocus required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success " style="width: 80%;">CREAR</button>
                        </div>
                        </form>
                    </div>
                </div>
                <div id="Ingresar" class="tabcontent" >
                    <form action="/login" method="POST">
                        <h5>Usuario</h5>
                        <div class="form-group">
                            <input type="text" name="login_login" class="textbox" placeholder="Nombre de usuario" autofocus required>
                        </div>
                        <h5>Contrase単a</h5>
                        <div class="form-group">
                            <input type="password" name="login_pwd" class="textbox" placeholder="Contrase単a" autofocus required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success " style="width: 80%;">ACCEDER</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openPanel(evt,panel){
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(panel).style.display = "block";
        evt.currentTarget.className += " active"; 
    }
</script>