<div class="user_panel">
    </br>
    <div class="profile_panel">

        <h1>{{sess.login}}</h1>
    </div>
    
</div>

<div class="cPanel">
    <form action="/usuarios/update_user" method="POST" class="sign_in_panel">
         <div class="row">
                            <div class="column">
                                <div class="form-group">
                                    <h5>CORREO</h5>
                                    <input type="text" name="new_mail" class="textbox" placeholder="Correo" autofocus >
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <h5>USUARIO</h5>
                                    <input type="text" name="new_login" class="textbox" placeholder="Nombre de usuario" value="" autofocus >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <h5>CONTRASEÑA</h5>
                            <input type="password" id="pwd" name="new_pwd" class="textbox" placeholder="Contraseña"
                             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                             title="La contraseña debe contener al menos 8 caracteres, una mayuscúla, una minuscula y una mayúsucla y opcionalmente un caracter especial" 
                             onchange="check_pass()"
                             autofocus >
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <h5>CONFIRMAR CONTRASEÑA</h5>
                            <input type="password" id="c_pwd" name="password_confirm" class="textbox" placeholder="Contraseña" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                            title="La contraseña debe contener al menos 8 caracteres, una mayuscúla, una minuscula y una mayúsucla y opcionalmente un caracter especial" 
                            onchange="check_pass()"
                            autofocus>
                            </div>
                        </div>
                        </div>
                        </br>
                        </br>
                        <div class="form-group">
                            <button class="btn btn-success " id="r_confirm" style="width: 20%;" >GUARDAR CAMBIOS</button>
                        </div>
    </form>
</div>
</br>
</br>
</br>

<script>
    function check_pass(){
        if(document.getElementById("pwd").value==document.getElementById("c_pwd").value){
            document.getElementById("r_confirm").disabled = false;
        }
        else{
            document.getElementById("r_confirm").disabled = false;
        }
    }  
</script>