<div class="background_panel">
    <h4 style="color:white;text-align:center;padding-top:10px">{{foro.nombre}}</h4>
    <hr style="width: 100%;">
    <h5 style="color:white;text-align:left;padding-top:10px">{{foro.nombre}}</h5>
    <hr style="width: 100%;">
</div>