body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login{
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  align-items: center;
  text-align: center;
}

.texto{
  text-align: left;
  color: white;
}

.login_container{
  width: 600px;
  margin:0;
  position: absolute;
  top: 50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}
.textbox{
  margin-bottom: 20px;
  width: 100%;
}
a {
  color: #00B7FF;
}
