.card{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:black;
    color: white;   
    
}

nav{
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  text-align: center;
}

.header_image{
  height: 5%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textbox_login{
    margin-bottom: 10px;
    width: 40%;
    height: 35px;
  }

.textbox{
  margin-bottom: 10px;
  width: 80%;
  height: 35px;
  text-align: center;
}
html{
  margin:0;
  height: 100%;
}
.panel{
    width: 60%;
    height: 100%;
    background-color: black;
}

.background_panel{
  background-color: rgba(38, 53, 77,0.5);
  height: 700px;
  width: 85%;
  margin: auto;
  margin-top: 1%;
  border-color: #26354d;
}

.user_panel{
  background-color: rgba(38, 53, 77,0.5);
  height: 85%;
  width: 85%;
  margin: auto;
  margin-top: 1%;
  border-color: #26354d;
}
.profile_panel{
  text-align: center;
  background-color: #253247;
  width: 90%;
  height: 25%;
  margin-left: 5%;
  color: white;
}
.group_panel{
  width: 80%;
  margin:auto;
  background-color: #26354d;
  color: white;
}
table {
  width: 100%;
}

.profile_content{
  text-align: left;
  float: left;
  margin-left: 2%;
}
.friends_panel{
  width: 80%;
  background-color: #20465c;
  height: 80%;
  margin-left: 5%;
}
.friends_table{
  color: white;
}
.navButton{
  background-color: inherit;
    
    border: none;
    color: red;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.profile_button{
  width:40%;
  background-color: #253247;
  color:white;
  border:none;
}

.profile_button:hover{
  background-color:#2b374a;
}

.groupButton{
  background-color: #454444;
  color: white;
  outline: none;
  text-align: left;
  margin: auto;
  width: 90%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  /*border-color: rgba(255, 255, 255, .5);
  border-width: 5px;*/
  margin-top: 6px;
  margin-bottom: 5px;
}
.groupButton:hover{
  background-color: #212121;
}
.groupButton:focus{
  background-color: #212121;
  outline: none;
  border: none;
}

.table_button{
  background-color: #454444;
  color: white;
  outline: none;
  margin: auto;
  width: 60%;
  float: right;
}
.table_button:hover{
  background-color: #212121;
}
.table_button:focus{
  background-color: #212121;
  outline: none;
  border: none;
}
.forum_button{
  background-color: #3b3b3b;
  color: white;
  outline: none;
  margin: auto;
  width: 100%;
  float: right;
}
.forum_button:hover{
  background-color:#212121;
}
.forum_button:focus{
  background-color:#212121;
  outline: none;
  border: none;
}
.navButton:hover{
  background-color: #212121;
}
.cPanel{
    width: 85%;
    height: 80%;
    background-color: #2e2e2e;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    
}
body{
  height: 90%;
  margin:0;
  background-image: url("/img/fondo.png");
  background-repeat: no-repeat;
  background-color: #2e2e2e;
  background-position: center;
  background-size: cover;
}
footer{
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;text-align: center;
  background-color:#2e2e2e;
  opacity: 0.5;
  position: fixed;
}

.tab {
    overflow: hidden;
    background-color:black;
    display: flex;
    justify-content: center;
  }
  
  .tab button {
    background-color: inherit;
    
    float: left;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;

    padding: 16px 18px;
    transition: 0.3s;
    font-size: 20px;
  }
  
  .tab button:hover {
    background-color: #212121;  
  }
  
  .tab button.active {
    text-decoration: underline;
  }
  
  .tabcontent {
    /*position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 6px 12px;
    border-top: none;
    margin:auto;
    width: 50%;
    padding:10px;*/
  }
.login_panel{
  top: 10%;
}
.sign_in_panel{
    margin: auto;
    color: white;
}

.column{
  float: left;
  width: 50%;
}
.newrow{
  content:"";
  display: table;
  clear: both;
}
.row::after{
  content:"";
  display: table;
  clear: both;
}
.login_header{
  height: 20%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.table_row{

}
.table_row:hover{
  background-color:  #253247;
  cursor: pointer;
}
.anav{
  color: white;
  text-decoration: none;
}
textarea{
  overflow: auto;
}
.agroup{
  text-decoration: none;
  display: block;
  color: white;
}
.agroup:hover{
  text-decoration: none;
  background-color:#1b2029;
  color: white;
}
.anav:hover{
  color: red;
  text-decoration: none;
}

.anav.selected{
  color: red;
}

.checked{
  color: red;
}

.wrapper {
  display: inline-block;
}
.wrapper * {
  float: right;
}
.rate {
  display: none;
}
label {
  font-size: 30px;
}

input:checked ~ label {
  color: red;
}

.friends_title{
  width: 80%;
  color: white;
  background-color: #20465c;
  height: 40px;
  text-align: center;
  padding-top:8px;
  margin-left: 5%;
}

hr{
  border-color: white;
  width: 80%;
}
/*
label:hover,
label:hover ~ label {
  color: red;
}
*/
/*


input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
  color: lime !important;
}*/
/*.multiselect {
  width: 300px;
  background-color: #253247;
  overflow: auto;
}*/

.icon{
  /*background: url("/img/icons/lapiz_icono.png");*/
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}
.forum_icon{
  height: 70px;
  width: 60px;
  margin-bottom: 10px;
}
.multiselect {
  width: 80%;
  background-color: #1b2029;
  overflow: auto;
  margin-left: 15%;
}
.members_panel{
  background-color: #20465c;
  width: 100%;
  overflow: auto;
  height: 400px;
}
.memberButton{
  background-color: #20465c;
  width: 100%;
  color:white;
  text-align: center;
  border:none;
  border-bottom: 2px solid white;
}
.memberButton:hover{
  background-color: #193545;
}
option{
  background-color:#1b2029;
  color:white;
  font-weight:normal;
  z-index: 3;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  height: 140px;
  text-align: left;
  
}

#checkboxes label {
  display: block;
  color: white;
  font-size: 16px;
}

#checkboxes:checked
{
  color: green;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

label::selection{
  color: none;
}

.create_group_panel1{
  width: 100%;
  height: 250px;
  background-color: #181f2b;
  color: white;
}

.create_group_panel2{
  width: 100%;
  height: 100px;
  margin-top: 1%;
  background-color: #1b2029;
  color: white;
}
.third_panel{
  width: 100%;
  height: 80px;
  background-color: #1b2029;
  color: white;
}
.select{
  height: 100px;
  overflow: auto;
}

.msj_panel{
  width: 98%;
  height: 600px;
  background-color: #171717;
  margin: auto;
  color:white;
  overflow:auto;
}

.column_1{
  float: left;
  width: 20%;
  background-color:#262626;
}
.column_2{
  float: left;
  width: 80%;
  padding-left: 5px;
  background-color:#333232;
}

.parent {
  display:flex;
}

.c_forum_button{
  background-color: #454444;
  color: white;
  outline: none;
  margin: auto;
  padding-top:2px;
  width: 70%;
}

.c_forum_button:hover{
  background-color: #2b2b2b;
}

.search_panel{
  color:white;
  background-color:#105e82;
  width: 90%;
  margin:auto;
  height: 120px;
  z-index:9;
}

.group_title{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin:auto;
  margin-top: 2px;
  width:100%;
  color:white;
  background-color:rgba(70, 70, 71, 0.7);
}

.filtros{
  color:white;
  background-color:#105e82;
  width: 90%;
  margin:auto;
  height: 65px;
  z-index:9;
}

.content {
  display: none;
  margin: auto;
  border: none;
  background-color:#105e82;
}

.collapsible{
  background-color:#105e82;
}

.closebtn{
  cursor: pointer;
}

.fake-input { position: relative; width:240px; }
.fake-input input { border:none: background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 2px; right: 5px }